.div_view {
  padding: 20px;
  text-align: left;
  overflow-y: auto;
  height: 600px;
}

.div_view2 {
  border: 1px solid #e9ecef;
  min-height: 600px;
  padding: 10px;
}

.btn_copy {
  margin-top: 20px;
}
